* {
    margin: 0;
    padding: 0;
}

#nav {
    color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: black;
}

#game {
    width: 100vw;
    height: 85vh;
}